@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h3>Add a new book</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.PublicationDate)
  @Html.TextBoxFor(model => model.PublicationDate)

  @Html.Label("Select Genre")
  @Html.DropDownList("GenreId")

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Add new book" class= "btn btn-default" />
}
