@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>;

<h1>Books</h1>

@if (@Model.Any ())
{
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam })
        </th>
        <th>
            @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParam })
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParam })
        </th>
        <th>
        Publication Date
        </th>
    </tr>
    
  @foreach (Book book in @Model)
  {
    <tr>
      <td>
        @Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId})
      </td>
      <td>
        @foreach(var join in book.Authors)
        {
          <li>@Html.ActionLink($"{join.Author.FullName}", "Details", "Authors", new { id = join.AuthorId })</li>
        }
      </td>
      <td>
        @foreach(var join in book.Genres)
        {
          <li>@Html.ActionLink($"{join.Genre.Name}", "Details", "Authors", new { id = join.GenreId })</li>
        }
      </td>
      <td>
        @book.PublicationDate
      </td>
    </tr>
  }
  </table>
} 
else 
{
  <h3>There are no books to list!</h3>
}